[include]
    path = .local.gitconfig

[alias]
    pf = push --force-with-lease

[merge]
    tool = nvim
    conflictstyle = diff3

[mergetool "nvim"]
    cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[core]
    autoclrf = input
    editor = nvim
    excludesFile = ~/.gitignore
    attributesFile = ~/.gitattributes

[init]
    defaultBranch = master

[pull]
    rebase = true

[push]
    autoSetupRemote = true
