" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

set number
set relativenumber

set nohlsearch
set incsearch

set nowrap

set nowrapscan

set scrolloff=8

set colorcolumn=160

set noignorecase
set smartcase

set visualbell

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
let mapleader = ' '

nnoremap  <C-d>         <C-d>zz
nnoremap  <C-u>         <C-u>zz
nnoremap  <C-f>         <C-f>zz
nnoremap  <C-b>         <C-b>zz
nnoremap  N             Nzzzv
nnoremap  n             nzzzv

nnoremap  <leader>o     o<Esc>k
nnoremap  <leader>O     O<Esc>j

"Not sure what ideavim tries to do with default <C-o> and <C-i> settings, but it seems to jump all over the place
map       <C-o>         <Action>(Back)
map       <C-i>         <Action>(Forward)

map       gD            <Action>(GotoDeclaration)
map       gd            <Action>(GotoDeclaration)
map       K             <Action>(QuickImplementations)
map       gi            <Action>(ReSharperGotoImplementation)
map       <C-h>         <Action>(QuickJavaDoc)
map       <leader>rn    <Action>(RenameElement)
map       <leader>ca    <Action>(ShowIntentionActions)
vmap      <leader>ca    <Action>(ShowIntentionActions)
map       gr            <Action>(ShowUsages)
map       <leader>cc    <Action>(ReformatCode)
map       <leader>ee    <Action>(ShowErrorDescription)
map       gn            <Action>(MethodDown)
map       gp            <Action>(MethodUp)

map       <leader>ff    <Action>(GotoFile)
map       <leader>fw    <Action>(FindInPath)
map       <leader>fs    <Action>(GotoSymbol)

map       <leader>rr    <Action>(Run)
map       <leader>rs    <Action>(Stop)

map       <leader>ds    <Action>(Debug)
map       <leader>dbt   <Action>(ToggleLineBreakpoint)
map       <leader>dr    <Action>(Resume)
map       <leader>dsi   <Action>(StepInto)
map       <leader>dso   <Action>(StepOver)
map       <leader>dsr   <Action>(StepOut)

map       <leader>bb    <Action>(BuildCurrentProject)
map       <leader>ba    <Action>(BuildWholeSolutionAction)
map       <leader>bc    <Action>(CleanSolutionAction)

map       <leader>tn    <Action>(RiderUnitTestRunContextAction)
map       <leader>tdn   <Action>(RiderUnitTestDebugContextAction)
map       <leader>ts    <Action>(RiderUnitTestSessionAbortAction)
map       <leader>tf    <Action>(RiderUnitTestSessionRerunFailedTestsAction)
map       <leader>ta    <Action>(RiderUnitTestRunSolutionAction)

"TODO: How much extra does this do compared to HideActiveWindow?
map       <leader>;     <Action>(HideAllWindows)
map       <leader>xq    <Action>(ActivateProblemsViewToolWindow)
map       <leader>ttw   <Action>(ActivateUnitTestsToolWindow)
map       <leader>wt    <Action>(ActivateTerminalToolWindow)
map       <leader>wb    <Action>(ActivateBuildToolWindow)
map       <leader>wp    <Action>(ActivateNuGetToolWindow)
nnoremap  <leader>nt    :NERDTreeToggle<CR>
nnoremap  <leader>ne    :NERDTreeFocus<CR>

map       <leader>qq    <Action>(Exit)

"NERDTree default mappings
"o   Open files, directories and bookmarks
"O   Recursively open the selected directory
"x   Close the current node's parent
"X   Recursively close all children of the current node
"P   Jump to the root node
"p   Jump to the current node's parent
"q   Close the NERDTree window
